
.password-input {
  display: flex;
  align-items: center;

  height: 34px;
  width: 100%;

  padding-top: 2px;

  border: solid gray 2px;
  border-radius: 4px;

  background-color: white;
}

.password-input .focused {
  border-color: #5345ED;
}

.password-input input, .password-input img {
  height: 30px;
}

.password-input input {
  flex: 1 1 auto;

  border: none;
  outline: none;
}

.password-input img {
  flex: 0 1 auto;
}
