
.container {
  display: flex;
  align-items: center;

  height: 34px;
  width: 100%;

  border: solid gray 2px;
  border-radius: 4px;

  background-color: white;
}

.container .focused {
  border-color: #5345ED;
}

.container input, .container img {
  height: 30px;
}

.container input {
  flex: 1 1 auto;

  border: none;
  outline: none;
}

.container img {
  flex: 0 1 auto;
}
