
.exit-button {
  position: absolute;
  top: 20px;
  right: 10px;

  font-weight: bold;
  background-color: white;
  color: blue;
}

.exit-button:hover {
  background-color: #ededed;
}

.profile-data {
  text-align: center;
}

.profile-data img {
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.profile-data .aboutMe {
  max-width: 350px;
}

.options {
  width: 80%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.options .option {
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

.mainHr {
  width: 70%;
  margin-bottom: 20px;
}

/*verifyEmail*/
.email-validated {
  font-weight: bold;
  color: green;
}

/*alterDescription*/
.alter-description {
  width: 230px;
}

.alter-description .about-me {
  width: 210px;
}

/*alterName*/
.alter-name {
  width: 206px;
}

/*alterPassword*/
.alter-password {
  width: 195px;
}

.popup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-form input {
  margin-top: 3px;
  margin-bottom: 3px;
}

/*alterPicture*/
.alter-picture {
  width: 259px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.alter-picture hr {
  width: 100%;
}

/*verifyEmail*/
.verify-email {
  margin-bottom: 15px;
}
