
.exit-button {
  position: absolute;
  top: 20px;
  right: 10px;

  background-color: white;
  color: blue;
}

#email-validated {
  font-weight: bold;
  color: green;
}

.profile-data {
  text-align: center;
}

.profile-data img {
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.options {
  width: 65%;
  margin: 0 auto;

  display: flex;
}


.options button {
  flex: 1;
}

.center {
  text-align: center;
}

.popup-form {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainHr {
  width: 70%;
  margin-bottom: 20px;
}

.alter-picture {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}