
.logo {
  position: relative;
}

.logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  width: 180px;
  height: 180px;
  border-radius: 90px;
  
  border: solid white;

  background-color: white;
}

.form {
  width: 300px;
  
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.form .keep-logged {
  width: 100%;

  display: flex;
  align-items: center;
}

.form .keep-logged input {
  max-height: 15px;
  max-width: 15px;
}
